/* Déclarations des polices */
/* Pour les titres et logos */
@font-face {
  font-family: "Shrikhand";
  src: url("/polices/Shrikland/shrikhand-regular-webfont.eot")
    format("embedded-opentype");
  src: url("/polices/Shrikland/shrikhand-regular-webfont.svg") format("svg");
  src: url("/polices/Shrikland/shrikhand-regular-webfont.ttf")
    format("truetype");
  src: url("/polices/Shrikland/shrikhand-regular-webfont.woff") format("woff");
}
/* Pour les textes */
@font-face {
  font-family: "Roboto";
  src: url("/polices/Roboto/Regular/Roboto-Regular-webfont.eot")
    format("embedded-opentype");
  src: url("/polices/Roboto/Regular/Roboto-Regular-webfont.svg") format("svg");
  src: url("/polices/Roboto/Regular/Roboto-Regular-webfont.ttf")
    format("truetype");
  src: url("/polices/Roboto/Regular/Roboto-Regular-webfont.woff") format("woff");
}

/* Règles générales qui s'appliquent dans tous le documents, les exceptions sont traitées spécifiquement dans les blocs suivants */
#main_container {
  max-width: 320px;
  width: 100%;
  margin: auto;
}
h1,
h2,
h3,
p {
  font-family: "Roboto";
}

/* Règles applicables aux headers et leurs composants */
header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Fin des règles applicables aux headers et leurs composants */

/* Pour faciliter le développement en attendant de traiter les images */
img {
  max-width: 300px;
}
