/* Déclarations des polices */
/* Pour les titres et logos */
@font-face {
  font-family: "Shrikhand";
  src: url("/polices/Shrikland/shrikhand-regular-webfont.eot")
    format("embedded-opentype");
  src: url("/polices/Shrikland/shrikhand-regular-webfont.svg") format("svg");
  src: url("/polices/Shrikland/shrikhand-regular-webfont.ttf")
    format("truetype");
  src: url("/polices/Shrikland/shrikhand-regular-webfont.woff") format("woff");
}
/* Pour les textes réguliers */
@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url("/polices/Roboto/Regular/Roboto-Regular-webfont.eot")
    format("embedded-opentype");
  src: url("/polices/Roboto/Regular/Roboto-Regular-webfont.svg") format("svg");
  src: url("/polices/Roboto/Regular/Roboto-Regular-webfont.ttf")
    format("truetype");
  src: url("/polices/Roboto/Regular/Roboto-Regular-webfont.woff") format("woff");
}
/* Pour les textes en gras */
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("/polices/Roboto/Bold/Roboto-Bold-webfont.eot")
    format("embedded-opentype");
  src: url("/polices/Roboto/Bold/Roboto-Bold-webfont.svg") format("svg");
  src: url("/polices/Roboto/Bold/Roboto-Bold-webfont.ttf") format("truetype");
  src: url("/polices/Roboto/Bold/Roboto-Bold-webfont.woff") format("woff");
}
/* Pour les textes plus fins */
@font-face {
  font-family: "Roboto";
  font-weight: thin;
  src: url("/polices/Roboto/Thin/Roboto-Thin-webfont.eot")
    format("embedded-opentype");
  src: url("/polices/Roboto/Thin/Roboto-Thin-webfont.svg") format("svg");
  src: url("/polices/Roboto/Thin/Roboto-Thin-webfont.ttf") format("truetype");
  src: url("/polices/Roboto/Thin/Roboto-Thin-webfont.woff") format("woff");
}

/* Règles générales qui s'appliquent dans tous le documents, les exceptions sont traitées spécifiquement dans les blocs suivants */
body {
  margin: 0;
}
#main_container {
  max-width: 375px;
  width: 100%;
  margin: auto;
}
h1,
h2,
h3,
p,
li {
  font-family: "Roboto";
  margin: 0;
}
.capitalize {
  text-transform: capitalize;
}

/* Règles applicables aux headers et leurs composants */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  margin-bottom: 2em;
  background-color: #f6f6f6;
}
#logo_accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1em 0;
  background-color: white;
}
#logo_accueil > img {
  width: 165px;
}
#localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0;
  background-color: #eaeaea;
  box-shadow: 0 2px 2px #c7c7c7 inset;
}
#icone_localisation {
  margin-right: 1em;
}
#localisation > p {
  margin: 0.5em;
  font-weight: bolder;
  text-transform: capitalize;
}
h1 {
  padding: 0.5em 1.5em;
  margin-top: 1em;
  font-size: 1.6em;
  line-height: 1.1em;
  text-align: center;
}
#description {
  text-align: center;
  font-size: 1.1em;
}
#bouton_explorer {
  width: 220px;
  height: 50px;
  align-self: center;
  margin: 1.5em 0;
  border-radius: 2.5em;
  border-style: none;
  font-size: medium;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 2px 5px #c5c5c5;
}
#bouton_explorer:hover {
  background: linear-gradient(#fd88dc, #9864d8);
  box-shadow: 0 2px 10px #868686;
}
/* Fin des règles applicables aux headers et leurs composants */

/* Règles générales applicables aux sections fonctionnement et restaurants et leurs composants */
#fonctionnement,
#restaurants {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}
#restaurants {
  background-color: #f6f6f6;
}
#restaurants > a {
  text-decoration: none;
}
#restaurants > a:link,
#restaurants > a:visited {
  color: black;
}

/* Fin des règles générales applicables aux sections fonctionnement et restaurants et leurs composants */

/* Règles applicables à la première section 'Fonctionnement' et ses composants */
#liste_fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
#liste_fonctionnement > li {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  margin: 1em 0;
  background-color: #f6f6f6;
  border-radius: 1.5em;
  box-shadow: 0 10px 10px #c5c5c59d;
}
#liste_fonctionnement > li:hover {
  background-color: #f4edfe;
}
#liste_fonctionnement > li:hover .icone_etape,
#liste_fonctionnement > li:hover .description_etape {
  color: #9356dc;
}
.icone_etape {
  margin: 0 1.5em 0 2em;
}
.description_etape {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
/* Fin des règles applicables à la première section 'Fonctionnement' et ses composants */

/* Règles applicables à la première section 'Restaurants' et ses composants */
#restaurants > a {
  width: 100%;
  display: flex;
  margin: 1em 0;
}
.vignette_restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.vignette_restaurant > img {
  max-width: 100%;
  max-height: 175px;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
.label_nouveau {
  width: 80px;
  height: 30px;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  background-color: #99e2d0;
  font-weight: bold;
  color: #388568;
}
.vignette_restaurant > figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: white;
  border-radius: 0 0 1em 1em;
}
.bouton_like {
  font-size: x-large;
  color: white;
  stroke: black;
  stroke-width: 1em;
}
.bouton_like:hover {
  color: #9356dc;
  stroke: none;
}
/* Fin des règles applicables à la première section 'Restaurants' et ses composants */

/* Règles applicables aux footers et leurs composants */
footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #353535;
  padding: 1.5em;
}
#logo_footer {
  margin: 0;
  filter: invert(100%);
}
#logo_footer > img {
  width: 100px;
}
footer > ul {
  list-style-type: none;
  color: white;
  padding: 0;
}
footer > ul > li {
  display: flex;
  padding: 0.2em 0;
}
#icone_restaurant,
#icone_partenaire {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em 0 0;
}
#icone_partenaire > svg {
  display: inline-block;
  transform: rotate(-45deg);
  font-size: small;
}
#contact {
  text-decoration: none;
}
#contact:link,
#contact:visited {
  color: white;
}
/* Fin des règles applicables aux footers et leurs composants */

/* Pour faciliter le développement en attendant de traiter les images */
img {
  max-width: 250px;
}
